<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SistemaEscolar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>XEDatosAlumnos</display-name>
    <servlet-name>XEDatosAlumnos</servlet-name>
    <servlet-class>servlet.XEDatosAlumnos</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>XERegistrarAlumno</display-name>
    <servlet-name>XERegistrarAlumno</servlet-name>
    <servlet-class>servlet.XERegistrarAlumno</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>XEConsultaRegistros</display-name>
    <servlet-name>XEConsultaRegistros</servlet-name>
    <servlet-class>servlet.XEConsultaRegistros</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>XERegistrarPago</display-name>
    <servlet-name>XERegistrarPago</servlet-name>
    <servlet-class>servlet.XERegistrarPago</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>XEConsultaLogin</display-name>
    <servlet-name>XEConsultaLogin</servlet-name>
    <servlet-class>servlet.XEConsultaLogin</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>test.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>HoldConnection</display-name>
    <servlet-name>HoldConnection</servlet-name>
    <servlet-class>test.servlet.HoldConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XEDatosAlumnos</servlet-name>
    <url-pattern>/servlet/XEDatosAlumnos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XERegistrarAlumno</servlet-name>
    <url-pattern>/servlet/XERegistrarAlumno</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XEConsultaRegistros</servlet-name>
    <url-pattern>/servlet/XEConsultaRegistros</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>XERegistrarPago</servlet-name>
    <url-pattern>/servlet/XERegistrarPago</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XEConsultaLogin</servlet-name>
    <url-pattern>/servlet/XEConsultaLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HoldConnection</servlet-name>
    <url-pattern>/HoldConnection</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>Conexion MySQL</description>
    <res-ref-name>jdbc/ConexionMysql</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>