/* Below line is used for online Google font */
/* @import url(http://fonts.googleapis.com/css?family=Droid+Serif); */

h2 {
	text-align: center;
	font-size: 24px;
}

hr {
	margin-bottom: 30px;
}

div.container {
	width: 960px;
	height: 610px;
	margin: 50px auto;
	font-family: Arial ;
	position: relative;
}

div.containerTb {
	width: 90%;
	height: 80%;
	margin: 1em auto;
/* 	font-family: 'Droid Serif', serif; */
/* 	position: relative; */
 }

/* div.containerTb { */
/* 	position: absolute; */
/*  	top: 50%;  */
/*   	left: 50%; */
/*   	transform: translate(-50%, -50%); */
/* } */



div.containerTb2 {
	width: 40%;
	height: 40%;
	margin: 50px auto;
/* 	font-family: 'Droid Serif', serif; */
/* 	position: relative; */
}

div.containerTb3 {
	width: 25%;
	height: 25%;
	margin: 80px auto;
/* 	font-family: 'Droid Serif', serif; */
/* 	position: relative; */
}

div.main {
	width: 320px;
	margin-top: 80px;
	float: left;
	padding: 10px 55px 40px;
	/*background-color: rgba(187, 255, 184, 0.65);*/
	border: 15px solid white;
	box-shadow: 0 0 10px;
	border-radius: 2px;
	font-size: 13px;
	
	/***Inicio Centrar****/
	position: absolute;
 	top: 50%; 
  	left: 50%;
  	transform: translate(-50%, -50%);
  	/***Fin Centrar****/
}
div.mainTb {
	width: 80%;
	margin-top: 10%;
	float: left;
	padding: 1% 3% 2%;
	/*background-color: rgba(187, 255, 184, 0.65);*/
	border: 15px solid white;
	box-shadow: 0 0 10px;
	border-radius: 2px;
	font-size: 13px;
	
	/***Inicio Centrar****/
	position: absolute;
 	top: 50%; 
  	left: 50%;
  	transform: translate(-50%, -50%);
  	/***Fin Centrar****/
}

input[type=text], [type=password] {
	width: 97.7%;
	height: 34px;
	padding-left: 5px;
	margin-bottom: 20px;
	margin-top: 8px;
	box-shadow: 0 0 5px #00F5FF;
	border: 2px solid #00F5FF;
	color: #4f4f4f;
	font-size: 16px;
}

label {
	color: #464646;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	font-weight: bold;
}

#login {
	width: 100%;
	background: linear-gradient(#22abe9 5%, #36caf0 100%);
	border: 1px solid #0F799E;
	font-size: 20px;
	margin-top: 15px;
	padding: 8px;
	font-weight: bold;
	cursor: pointer;
	color: white;
	text-shadow: 0px 1px 0px #13506D;
}

#login:hover {
	background: linear-gradient(#36caf0 5%, #22abe9 100%);
}



#feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
  #selectable li { margin: 3px; padding: 1px; float: left; width: 100px; height: 80px; font-size: 4em; text-align: center; }
  
  
  #centrar{
   	
/*   	margin-right: 50%; */
  	margin-left: 50px;
  	
  }
 
 
 
 @media ( min-width: 40em ) {
	/* Show the table header rows and set all cells to display: table-cell */
	.my-custom-breakpoint td,
	.my-custom-breakpoint th,
	.my-custom-breakpoint tbody th,
	.my-custom-breakpoint tbody td,
	.my-custom-breakpoint thead td,
	.my-custom-breakpoint thead th {
		display: table-cell;
		margin: 0;
	}
	/* Hide the labels in each cell */
	.my-custom-breakpoint td .ui-table-cell-label,
	.my-custom-breakpoint th .ui-table-cell-label {
		display: none;
	}
}
  
  
  td.details-control {
    background: url('../DataTables-1.10.12/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../DataTables-1.10.12/examples/resources/details_close.png') no-repeat center center;
}
